body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: Georgia;
}

header {
    font-size: 38px;
    text-shadow: 1px 1px 1px #333;
    font-family: Georgia;
    background-color: rgb(249, 112, 95);
    border-bottom: 1px solid #d0d0d0;
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
    color: inherit;
    text-decoration: none;
}

.char-i {
    color: white;
}

main {
    background-color: white;
}

ul {
    list-style-type: none;
}

.adviser-select,
.to-chatting-page {
    margin-left: 40%;
    padding-top: 40px;
    padding-bottom: 10px;
}

.adviser-select-p,
.to-chatting-page-p {
    font: bold;
    font-size: 25px;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.adviser-specs {
    font-size: 30px;
}

.brian,
.jiro,
.mick,
.mike,
.yusuke {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.brians-photo,
.jiros-photo,
.micks-photo,
.mikes-photo,
.yusuke-photo {
    width: 300px;
    height: auto;
    box-shadow: 1.5px 1.5px #333;
}

.footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 112, 95);
    border-top: 1px solid #d0d0d0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%;
    padding-bottom: 50px;
}

.copy-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}