body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-family: Georgia;
}

header {
    font-size: 38px;
    text-shadow: 1px 1px 1px #333;
    font-family: Georgia;
    background-color: rgb(249, 112, 95);
    border-bottom: 1px solid #d0d0d0;
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
    color: inherit;
    text-decoration: none;
}

.char-i {
    color: white;
}

main {
    background-color: white;
}

.paragraph {
    font-size: 30px;
    padding-top: 20px;
    margin-left: 33%;
}

.rate-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 40%;
    padding-top: 20px;
}

.rate-form input[type=radio] {
    display: none;
}

.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.rate-form label:hover {
    color: #ffcc00;
}

.rate-form label:hover~label {
    color: #ffcc00;
}

.rate-form input[type=radio]:checked~label {
    color: #ffcc00;
}

.good-or-bad-things {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.good-things,
.bad-things,
.good-things-li,
.bad-things-li {
    list-style: none;
    font-size: 25px;
}

.good-things {
    text-decoration: underline double;
    text-decoration-color: rgb(254, 47, 51);
}

.bad-things {
    text-decoration: underline double;
    text-decoration-color: rgb(58, 123, 255);
}

button[type="button"] {
    font: bold;
    font-size: 25px;
    width: 250px;
    height: 40px;
    color: black;
    margin-top: 50px;
    margin-left: 40%;
    cursor: pointer;
}


.footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 112, 95);
    border-top: 1px solid #d0d0d0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%;
    padding-bottom: 50px;
}

.copy-rights {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}